@model AuctionHouse.Web.ViewModels.Users.UserViewModel

@{
    this.ViewData["Title"] = this.Model.UserName;
}

<h1 class="text-center text-monospace text-info mt-3">@this.ViewData["Title"]</h1>

<hr />

<form method="post" class="col-md-6 offset-md-3" id="giftForm">
    <div class="form-floating mb-3">
        <input asp-for="Balance" class="form-control" type="number" min="1" max="1_000_000" />
        <label asp-for="Balance"></label>
        <span asp-validation-for="Balance" class="text-warning"></span>
    </div>
</form>

<div class="col-md-6 offset-md-3">
    <button type="submit" class="btn-success btn-lg " data-toggle="modal" data-target="#giftModal">Money gift</button>
</div>

<!-- Modal -->
<div class="modal fade" id="giftModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                The amount entered will be added to the user's balance!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="giftForm.submit()">ОК</button>
            </div>
        </div>
    </div>
</div>