@model ListAuctionsViewModel

<hr />
@if (this.Model.AuctionsCount != 0)
{
    <partial name="_CarsListPartial" model="@Model" />
}
else
{
    <tr>
        <td colspan="3" class="text-center">No results!</td>
    </tr>
}

@*<partial name="_PagingPartial" model="@Model" />*@