@model ListAuctionsViewModel

@{ViewBag.Title = "Search auctions";
}

<div class="form-floating mb-3 col-md-12 mt-4">
    <div>
        <div class="form-inline pull-right">
            <label class="h2 text-monospace text-info mt-3">Search:</label>
            <input type="text" class="form-control ml-4" id="txtSearch" placeholder="Type a name" />
        </div>
    </div>
    <div id="grdAuctions">
    </div>
</div>

<partial name="_PagingPartial" model="@Model" />

@section Scripts{
    <script>
            $(() => {
                getAuctions();

                $('#txtSearch').on('keyup', () => {
                    getAuctions();
                });
            });

            function getAuctions() {
                $.ajax({
                    url: '@Url.Action("SearchAuctions", "Search")',
                    method: 'GET',
                    datatype: 'html',
                    data: { searchText: $('#txtSearch').val() },
                    success: function (res) {
                        $('#grdAuctions').html('').html(res);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            }
    </script>
}
