@model AuctionHouse.Web.ViewModels.Comments.CommentAuctionInputModel
@{
        this.ViewData["Title"] = "Comments";
    }

<h1 class="text-center">@this.ViewData["Title"]</h1>
<hr />

@foreach (var comment in Model.Comments)
{
    <ul class="list-unstyled">
        <li class="media">
            <div class="media-body">
                <h5 class="mt-0 mb-1">@comment.UserUserName</h5>
                @comment.Content
            </div>
        </li>
    </ul>
}

<form method="post" id="commentAuction">
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="Id" />
</form>
<button type="submit" class="btn btn-success" onclick="commentAuction.submit()">Commit</button>
