@model CreateCommentInputModel
@{
    this.ViewData["Title"] = "Create comment";
}

<h1 class="text-center text-monospace text-info mt-3">@this.ViewData["Title"]</h1>
<hr />
<br />
<form method="post" class="col-md-6 offset-md-3" id="commentAuction">
    <div class="form-floating mb-3">
        <textarea id="exampleTextarea" asp-for="Content" class="form-control" rows="5" style="background-color: #F8F8FF" placeholder="Description"></textarea>
        <label asp-for="Content"></label>
        <span asp-validation-for="Content" class="text-warning"></span>
    </div>
</form>
<br />
<br />
<div id="sendButton" class="form-group offset-3"><button type="submit" class="btn btn-outline-warning" onclick="commentAuction.submit()">Post Comment</button></div>
