@model AuctionHouse.Web.ViewModels.Auctions.ListAuctionsViewModel
@{
    this.ViewData["Title"] = "Auction list";
}

<h1>@this.ViewData["Title"]</h1>
<hr />

<div class="row">
    @foreach (var auction in this.Model.Auctions)
    {
        <div class="card media col-md-3" style="width: 18rem;">
            <img class="card-img-top" src="@auction.ImageUrl" alt="This auction doesn`t have image" width="100">
            <div class="card-body">
                <h5 class="card-title">@auction.Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    }
</div>

<hr />

<partial name="_PagingPartial" model="@Model" />