@model EditAuctionInputModel
@{
    ViewData["Title"] = "Edit auction";
    var categoriesItems = this.Model.CategoriesItems.Select(x => new SelectListItem(x.Value, x.Key));
}

<h1 class="text-center text-monospace text-info mt-3">@ViewData["Title"]</h1>
<hr />

<form method="post" class="col-md-6 offset-md-3" id="editForm">
    <div asp-validation-summary="All" class="text-warning"></div>

    <div class="form-floating mb-3">
        <input asp-for="Name" class="form-control" placeholder="Name" />
        <label asp-for="Name"></label>
        <span asp-validation-for="Name" class="text-warning"></span>
    </div>

    <div class="form-floating mb-3">
        <textarea asp-for="Description" class="form-control" placeholder="Description"></textarea>
        <label asp-for="Description"></label>
        <span asp-validation-for="Description" class="text-warning"></span>
    </div>

    <div class="form-floating mb-3">
        <select asp-for="CategoryId" asp-items="categoriesItems" class="form-control"></select>
        <label asp-for="CategoryId"></label>
        <span asp-validation-for="CategoryId" class="text-warning"></span>
    </div>

    <hr />
    <input type="hidden" asp-for="Id" />
</form>
<div class="col-md-6 offset-md-3">
    <button type="submit" class="btn-success btn-lg " data-toggle="modal" data-target="#editModal">Save changes</button>
</div>
<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to save changes to this document before closing?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="editForm.submit()">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}