@model ListAuctionsViewModel

@{
    this.ViewData["Title"] = "My Purchases";
}

@if (this.TempData.ContainsKey("Message"))
{
    <partial name="_AlertPartial" />
}

<h1 class="text-center text-monospace text-info mt-3">@this.ViewData["Title"] - @this.Model.AuctionsCount</h1>

<hr />
<br />

<partial name="_CarsListPartial" model="@Model" />
<hr />
<partial name="_PagingPartial" model="@Model" />